spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;MODE=Oracle
    platform: h2
    data:
      - classpath:data/*.sql
  jpa:
    show-sql: true
    properties:
      hibernate:
        hbm2ddl:
          auto: create
  h2:
    console:
      enabled: true
      path: /console